In [3]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc (label-based selection):

loc is primarily used for label-based indexing, which means you specify the row and column labels to select data.

It includes the endpoint when slicing, meaning both the start and stop indices are inclusive.

You can use boolean indexing with loc to filter rows based on conditions using labels.

In [13]:
df.loc[1:3]

        course_name  duration
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

iloc (integer-based selection):

iloc is used for integer-based indexing, which means you specify the row and column positions (integer indices) to select data.

It excludes the endpoint when slicing, meaning the start index is inclusive, but the stop index is exclusive.

You can use integer indexing and slicing with iloc to select rows and columns by their integer positions.

In [12]:
df.iloc[1:3]

        course_name  duration
1  Machine Learning         3
2          Big Data         6

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

In [15]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.776087  0.111484  0.466044  0.134153  0.424817  0.573128
2  0.660854  0.549360  0.115167  0.807394  0.420262  0.753903
3  0.689216  0.128406  0.430537  0.434066  0.121510  0.456926
4  0.335029  0.726923  0.571371  0.304838  0.068929  0.015654
5  0.750450  0.136624  0.735916  0.484225  0.053739  0.848631
6  0.709796  0.171874  0.563367  0.526634  0.705425  0.007450

In [16]:
reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)

In [17]:
new_df.loc[2]

column_1    0.660854
column_2    0.549360
column_3    0.115167
column_4    0.807394
column_5    0.420262
column_6    0.753903
Name: 2, dtype: float64

In [18]:
new_df.iloc[2]

column_1    0.776087
column_2    0.111484
column_3    0.466044
column_4    0.134153
column_5    0.424817
column_6    0.573128
Name: 1, dtype: float64

 the key difference is that loc uses label-based indexing, and iloc uses integer-based indexing. In this specific case, because of the reindexing, new_df.loc[2] selects a different row compared to new_df.iloc[2], and this leads to differences in their outputs.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

(i) Mean of each column:

In [23]:
column_mean = df1.mean()
print ("Mean of each column: ")
print (column_mean)

Mean of each column:
column_1    0.653572
column_2    0.304112
column_3    0.480400
column_4    0.448552
column_5    0.299114
column_6    0.442615
dtype: float64

(ii) Standard deviation of 'column_2':

In [28]:
standard_dev = df1["column_2"].std()
print ("standard deviation of column_2 : ",standard_dev)

standard deviation of column_2 :  0.2654930729953491

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [34]:
new_string = "my name is shivangi"
# Replace the data in the second row of 'column_2' with a new_string
df1.loc[2,"column_2"] = new_string

# Convert the entire 'column_2' to a string data type
df1["column_2"]= df1["column_2"].astype(str)

df1

   column_1             column_2  column_3  column_4  column_5  column_6
1  0.776087  0.11148448747416495  0.466044  0.134153  0.424817  0.573128
2  0.660854  my name is shivangi  0.115167  0.807394  0.420262  0.753903
3  0.689216  0.12840617517351027  0.430537  0.434066  0.121510  0.456926
4  0.335029   0.7269229156894381  0.571371  0.304838  0.068929  0.015654
5  0.750450  0.13662366780365776  0.735916  0.484225  0.053739  0.848631
6  0.709796  0.17187416095485997  0.563367  0.526634  0.705425  0.007450

In [35]:
mean_column2 = df1["column_2"].mean()

TypeError: Could not convert 0.11148448747416495my name is shivangi0.128406175173510270.72692291568943810.136623667803657760.17187416095485997 to numeric

 it's possible to assign a string to a specific cell in a numeric column and convert the entire column to a string data type, this approach can lead to issues when performing numeric operations like calculating the mean. It's essential to maintain a consistent data type within a column to perform meaningful calculations.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In Pandas, the "window functions" (sometimes referred to as "windowing" or "rolling" functions) are a group of operations that allow you to perform calculations on a set of data points over a specific window or rolling period. These functions are particularly useful for time series data analysis and other applications where you need to compute statistics or aggregations over moving subsets of your data. Windows functions in Pandas are typically applied using the rolling method in conjunction with various aggregation functions.

Some common types of window functions in Pandas include:

Rolling Mean (Moving Average): Computes the mean of a rolling window of data points. It's useful for smoothing out fluctuations in time series data.

In [47]:
df1['rolling_mean'] = df1["column_1"].rolling(window=3).mean()

,column_1,column_2,column_3,column_4,column_5,column_6,rolling_mean
1,0.776087,0.11148448747416495,0.466044,0.134153,0.424817,0.573128,NaN
2,0.660854,my name is shivangi,0.115167,0.807394,0.420262,0.753903,NaN
3,0.689216,0.12840617517351027,0.430537,0.434066,0.121510,0.456926,0.708719
4,0.335029,0.7269229156894381,0.571371,0.304838,0.068929,0.015654,0.561699
5,0.750450,0.13662366780365776,0.735916,0.484225,0.053739,0.848631,0.591565
6,0.709796,0.17187416095485997,0.563367,0.526634,0.705425,0.007450,0.598425

In [48]:
df1['rolling_sum'] = df1["column_1"].rolling(window=3).sum()

In [49]:
df1["rolling_max"] = df1["column_1"].rolling(window = 3).max()

In [50]:
df1["rolling_min"]=  df1["column_1"].rolling(window=3).min()

In [52]:
df1['expanding_mean'] = df1['column_1'].expanding().mean()

In [53]:
df1

,column_1,column_2,column_3,column_4,column_5,column_6,rolling_mean,rolling_sum,rolling_max,rolling_min,expanding_mean
1,0.776087,0.11148448747416495,0.466044,0.134153,0.424817,0.573128,NaN,NaN,NaN,NaN,0.776087
2,0.660854,my name is shivangi,0.115167,0.807394,0.420262,0.753903,NaN,NaN,NaN,NaN,0.718470
3,0.689216,0.12840617517351027,0.430537,0.434066,0.121510,0.456926,0.708719,2.126156,0.776087,0.660854,0.708719
4,0.335029,0.7269229156894381,0.571371,0.304838,0.068929,0.015654,0.561699,1.685098,0.689216,0.335029,0.615296
5,0.750450,0.13662366780365776,0.735916,0.484225,0.053739,0.848631,0.591565,1.774694,0.750450,0.335029,0.642327
6,0.709796,0.17187416095485997,0.563367,0.526634,0.705425,0.007450,0.598425,1.795275,0.750450,0.335029,0.653572

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [67]:
from datetime import datetime

# Get the current date and time
current_date = datetime.now()
current_year_month = pd.to_datetime(f"{current_date.year}-{current_date.month}")
current_year_month

Timestamp('2023-09-01 00:00:00')

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [78]:
def date_input(prompt):
        try:
            date_str = input(prompt)
            date_object = pd.to_datetime(date_str)
            return date_object
        
        except ValueError:
            print("Invalid date format. Please use YYYY-MM-DD format.")
            
print("Enter the first date (yyyy-mm-dd):")
date1 = date_input("")

print("Enter the second date (yyyy-mm-dd):")
date2 = date_input("")

#time difference
difference = date2 - date1
print (difference)

hours =  difference.seconds // 3600
minutes = (difference.seconds % 3600) // 60

# Display the result
print(f"Difference in hours: {hours}")
print(f"Difference in minutes: {minutes}")

Enter the first date (yyyy-mm-dd):

 2023-09-16

Enter the second date (yyyy-mm-dd):

 2023-10-01

15 days 00:00:00
Difference in hours: 0
Difference in minutes: 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
def csv_file(file_path, column_name ,category_order ):
    try:
        df9 = pd.read_csv(file_path)
        df9["category_col"] = pd.Categorical(df9["category_col"], categories=category_order, ordered=True)
        sorted_data = df9.sort_values(by =column_name)
        print (sorted_data)
    
    
    except FileNotFoundError:
        print("File not found. Please check the file path.")
    except KeyError:
        print("Column not found in the CSV file.")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

if __name__ == "__main__":
    # Prompt the user for input
    file_path = input("Enter the file path of the CSV file: ")
    column_name = input("Enter the column name to convert to categorical data type: ")
    category_order = input("Enter the category order (comma-separated, e.g., 'Category1,Category2,Category3'): ").split(',')

    # Call the function to process the CSV file
    csv_file(file_path, column_name, category_order)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to read CSV file and create a stacked bar chart
def visualize_sales_data(file_path):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Create a pivot table to aggregate sales data by product category and time period
        pivot_table = df.pivot_table(index='Time', columns='Product_Category', values='Sales', aggfunc='sum')

        # Plot the stacked bar chart
        pivot_table.plot(kind='bar', stacked=True, figsize=(10, 6))
        plt.xlabel('Time Period')
        plt.ylabel('Sales')
        plt.title('Sales by Product Category Over Time')
        plt.legend(title='Product Category', bbox_to_anchor=(1.05, 1), loc='upper left')

        # Show the chart
        plt.show()

    except FileNotFoundError:
        print("File not found. Please check the file path.")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

if __name__ == "__main__":
    # Prompt the user for the file path of the CSV file
    file_path = input("Enter the file path of the CSV file containing sales data: ")

    # Call the function to visualize the sales data
    visualize_sales_data(file_path)